.category-btn{
    border-radius: 10px;
    padding: 3px 15px;
}
.list-scrollbar::-webkit-scrollbar{
    display: none;
}
.react-player{
    height: 100px;
}
.description {
    font-size: 14px;
}
.description a{
    color: rgb(68, 68, 243) !important;
    display: block !important;
}